* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font: acumin-pro;
    margin: 0;
}


.menud {
    position: fixed;
    height: 0;
    top: 0;
    left: 0;
    display: inline;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline;
    margin: left;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }


  li a:hover {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
  } 



p {
    font-weight: lighter;
}


h1 {
    position: absolute;
    top: 100px;
    left: 200px;
    font-size: 50px;
}

img {
    height: 40%;
    border-radius: 100px;
    position: absolute;
    top: 100px;
    right: 240px;
}

.about {
    position: absolute;
    top: 200px;
    left: 200px;
    font-size: 20px;
    width: 1000px;
}

.footer {
    position: absolute;
    top: 1000px;
    left: 100px;
}




.comp {
    position: absolute;
    top: 800px;
    left: 200px;
    color: black;
}




.design {
    position: absolute;
    top: 550px;
    left: 200px;
    right: 0px;
}

h2 {
    position: absolute;
    top: 0px;
    font-size: 40px;
}

h4 {
    position: absolute;
    top: 100px;
    left: 50px;
    font-size: 30px;
}

h5 {
    position: absolute;
    font-weight: lighter;
    top: 150px;
    left: 50px;
    font-size: 20px;
}


.line {
    position: absolute;
    width: 80%;
    left: 10%;
    right: 10%;
    text-align: center;
    font-weight: 5px;
    top: 900px;
}






.ab {
    position: absolute;
    right: 200px;
    left: 70%;
    height: 400px;
    top: 550px;
}


.location {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
}

.class {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 100px;
    
}

.connect {
    background-color: gainsboro;
    border-radius: 20px; 
    position: absolute;
    top: 200px;
    left: 100px;
    right: 100px;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 20px;
}










.footer {
    position: absolute;
    top: 900px;
    height: 200px;
    width: 100%;
}

.thanks {
    position: absolute;
    top: 20%;
    font-weight: normal;
    right: 70%;
    left: 100px;
}

.copyright {
    position: absolute;
    top: 20%;
    right: 15%;
    text-align: right;
}


